html, body {
    margin: 0;
    height: 100%;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

body {
    font-size: 12px;
    display: flex;
}

.main {
    margin: auto;
    width: 1440px;
    height: 800px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.container {
    width: 865px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    margin: auto;
}

#faq {
    width: 40%;
    margin: 50px 80px 50px 0px;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.image {
    position: relative;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: left -570px bottom -200px;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 475px;
}

.box {
    position: absolute;
    top: calc(50% - 45px);
    left: -95px;
}

.desktop {
    margin-left: -80px;
}

article {
    display: inline-block;
}

.float-left {
    float: left;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 1.8em;
}

h2 {
    font-size: 1.15em;
    font-weight: 400;
    transition: 0.1s;
    margin: 1.3em 0;
    color: hsl(237, 12%, 33%);
}

hr {
    border: none;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
    margin: 0;
}

p {
    font-size: 0.8em;
    color: hsl(240, 6%, 50%);
}

.hidden {
    opacity: 0;
    max-height: 0;
    margin: 0;
}

h2::after {
    content: url(./images/icon-arrow-down.svg);
    transition: 0.2s;
    float: right;
}

h2:active {
    color: hsl(14, 88%, 65%);
}

h2.active {
    font-weight: 700;
}

h2.active::after {
    transform: rotate(-180deg);
}

.questions {
    max-height: 100%;
    min-height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 430px) {
    body {
        min-height: 100vh;
    }

    .main {
        width: 100vw;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .container {
        width: 330px;
        box-sizing: border-box;
        flex-direction: column;
        padding: 10px;
    }

    #faq {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}