html, body {
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.container {
    width: 1440px;
    box-sizing: border-box;
    padding: 130px 165px 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.buyers {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 265px;
}

.title {
    width: 450px;
}

.no-disc {
    list-style-type: none;
    font-size: 0.8em;
}

.stars {
    padding: 0;
    width: 540px;
    display: flex;
    flex-direction: column;
}

.stars li {
    width: 450px;
    height: 57px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    font-size: 1.15em;
    padding: 20px 35px;
    box-sizing: border-box;
}

.stars li:not(:first-child) {
    margin-top: 17px;
}

.stars li span {
    vertical-align: middle;
    height: 100%;
}

.stars li span:nth-child(2) {
    margin-left: 35px;
}

.card {
    border-radius: 10px;
    width: 350px;
    height: 235px;
    box-sizing: border-box;
    padding: 40px 40px 45px 32px;
}

.align-start {
    align-self: flex-start;
}

.align-center {
    align-self: center;
}

.align-end {
    align-self: flex-end;
}

.buyer {
    height: 42px;
}

.buyer img {
    float: left;
    border-radius: 50%;
    width: 42px;
    margin-right: 25px;
}

.buyer::after {
    content: "";
    display: block;
    clear: both;
}

.name {
    font-size: 1.1em;
}

.verified {
    font-size: 1.1em;
}

.five-star {
    letter-spacing: 0.3em;
}

.buyer-text {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.buyer-text span {
    text-align: left;
}

.card p {
    line-height: 1.9em;
    letter-spacing: 0.2px;
    margin-top: 2em;
}

.bold {
    font-weight: 700;
}

.bg-magenta {
    background-color: hsl(300, 43%, 22%);
}

.bg-light-magenta {
    background-color: hsl(300, 24%, 96%);
}

.primary-magenta {
    color: hsl(300, 43%, 22%);
}

.primary-pink {
    color: hsl(333, 80%, 67%);
}

.white {
    color: hsl(0, 0%, 100%);
}

.dark-magenta {
    color: hsl(303, 10%, 53%);
}

.light-magenta {
    color: hsl(300, 24%, 96%);
}